body{
    min-height: 200px;
    min-width: 200px;
}
.clock{
    background: url(clock.png);
    background-size:contain;
    width: 50vw;
    height: 50vw;
    margin: 0px auto;
    position: relative;
}
#setter{
    margin: 40px auto;
    width: 30vw;
    height: 2vh;
}
#min{
    width: 13vw;
}
#sec{
    width: 13vw;
}
#start{
    position: relative;
    left: 38%;
    top: 20%;
    padding:0.7vw 1.5vw ;
    margin: 10px 10px;
    background-color: rgb(156, 252, 13);
    color: white ;
    border: none;
}
.handle{
    position: absolute;
    bottom:50%;
    left: 49.5%;
    border-radius: 10px;
}
#minute{
    height: 12vw;
    width: 1.25%;
    background: blue;
    transform-origin: bottom;
}
#second{
    height: 16vw;
    width: 1%;
    background: red;
    transform-origin: bottom;
}